<!-- {% if search.performed %} -->
{% if search.results_count > 0 %}
<hr aria-hidden="true" />
{% endif %}

<h2 class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</h2>
<div class="page-width">
  <div class="display-search-result">
    <ol>
      {% for item in result %}
      <a href="{{ item.url }}">
        <li>
          {% if item.object_type == 'product' %}
          <!-- {% include 'product-card-for-search', product: item %} -->

          <div class="search-product-card">
            <div class="row">
              <div class="col-xs-4"><img class="card-ed-photo" src="{{ item | img_url: 'master' }}"
                  alt="{{ item.image.alt | escape }}"></div>
              <div class="col-xs-8 card-ed-details">
                <div class="row">
                  <div class="col-xs-8">
                    <h2 class="card-ed-title">{{ item.title }}</h2>
                  </div>
                  <div class="col-xs-4">
                    <h2 class="card-ed-price">{{ item.price | money_without_trailing_zeros}}
                  </div>
                  <div class="col-xs-12 card-ed-tags">{% for skill in item.tags limit:5 %}
                    <a href="/search?type=tag&q={{ skill }}" class="product-tag">{{ skill }}</a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% endif %}
        </li>
      </a>
      {% endfor %}
    </ol>
    <!-- {% for item in result %}
    {% if item.object_type == 'page' %}
    {% assign num_res == search.results_count - 1 %}
    {{ num_res }}
    <div class="search-result-page-container">
    <div style="padding-top: 4%;"><a class="search-result-page-type">{{item.object_type}}: </a><a class="search-result-page-title" href="{{item.url}}">{{item.title}}</a></div>  
    <div><a href="{{item.url}}" class="search-result-page-link">{{shop.domain}}/...{{item.title}}</a></div>
  </div>
    {%endif%}
    {%endfor%} -->
  </div>

  <div class="display-mobile-search-result">
    <ul class="mobile-ul">
      {% for item in result %}
      <a href="{{ item.url }}">
        <li class="mobile-li">
          {% if item.object_type == 'product' %}
          <!-- {% include 'product-card-for-search', product: item %} -->

          <div class="search-product-card">
            <div class="row">
              <div class="col-xs-4"><img class="card-ed-photo" src="{{product.featured_image| img_url: '160x160', scale: 2}}"
                  alt="{{ item.image.alt | escape }}"></div>
              <div class="card-ed-details">
                <div class="row">
                  <div class="col-xs-8">
                    <h2 class="card-ed-title">{{ item.title }}</h2>
                  </div>
                  <div class="col-xs-4">
                    <h2 class="card-ed-price">{{ item.price | money_without_trailing_zeros}}
                  </div>
                  <div class="col-xs-12 card-ed-tags">{% for skill in item.tags limit:3 %}
                    <a href="/search?type=tag&q={{ skill }}" class="mobile-product-tag">{{ skill }}</a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% endif %}
        </li>
      </a>
      {% endfor %}
    </ul>
    {% for item in result %}
    {% if item.object_type == 'page' %}
    <div align="center" class="mobile-search-result-page-container">
    <div style="padding-top: 4%;"><a href="{{item.url}}" class="mobile-search-result-page-type">{{item.object_type}}: </a><a class="mobile-search-result-page-title" href="{{item.url}}">{{item.title}}</a></div>  
    <div><a href="{{item.url}}" class="search-result-page-link">{{shop.domain}}/...{{item.title}}</a></div>
  </div>

      {%endif%}
    {%endfor%}
  </div>


</div>

{%- if paginate.pages > 1 -%}
<div class="page-width" style="text-align: center;">
{% include 'pagination', paginate: paginate %}
</div>
{%- endif -%}
<!-- {% endif %} -->