<section class="types section">
  <div class="container">
    <h2 class="section-title">{{ section.settings.types_title }}</h2>
    <div class="types__wrapper">
      {% for block in section.blocks %}
      <div class="types__card">
        <img src="{{ block.settings.card_image | img_url: 'master' }}" alt="">
        <h3 class="card-title">{{ block.settings.card_title }}</h3>
        <div class="types__card-info">
          <div class="card-wrapper">
            <p class="basic-text">{{ block.settings.card_text }}</p>
            <div class="card-link-wrapper">
              <a class="basic-text card-link" href="{{ section.settings.card_url }}">See more</a>
              <svg class="card-shevron" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 20L15 14L9 8" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="types__slider">
      {% for block in section.blocks %}
      <div class="types__card">
        <img src="{{ block.settings.card_image | img_url: 'master' }}" alt="">
        <h3 class="card-title">{{ section.settings.services_title }}</h3>
        <a class="basic-text card-link" href="{{ section.settings.card_url }}">See more</a>
        <div class="types__card-info">
          <div class="card-wrapper">
            <p class="basic-text">{{ block.settings.card_text }}</p>
            <a class="basic-text card-link" href="{{ section.settings.card_url }}">See more</a>
          </div>
        </div>  
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "audioEd-types",
  
  "settings": [
      {
        "type": "text",
        "id": "types_title",
        "label": "Types title"
      }
  ],
  "blocks": [
      {
        "type": "image",
        "name": "images",
        "settings": [
          {
            "type": "image_picker",
            "id": "card_image",
            "label": "Card image"
          },
          {
            "type": "text",
            "id": "card_title",
            "label": "Card title",
            "default":"Item title"
          },
          {
            "type": "text",
            "id": "card_text",
            "label": "Card text"
          },
          {
            "type": "url",
            "id": "card_url",
            "label": "card URL"
          }
        ]
      }
  ]
} 
{% endschema %}