<section class="services">
  <div class="container">
    <div class="services__wrapper">
      <div class="services__image-wrapper">
        <img src="{{ section.settings.services_image | img_url: 'master' }}" alt="" class="services__image">
      </div>
      <div class="services__content">
        <h2 class="section-title section-title--services">{{ section.settings.services_title }}</h2>
        <p class="basic-text">{{ section.settings.services_text }}</p>
        <div class="button-wrapper">
          <a href="{{ section.settings.btn_url }}" class="button btn star-btn">{{ section.settings.link_text }}</a>
          <div class="star-wrapper">
            <div class="star-w star-1">
              {% include "star-img" %}
            </div>
            <div class="star-w star-2 star-2--bigbtn">
              {% include "star-img" %}
            </div>
            <div class="star-w star-3">
              {% include "star-img" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "services",
  
  "settings": [
      {
        "type": "image_picker",
        "id": "services_image",
        "label": "Services Image"
      },
      {
        "type": "text",
        "id": "services_title",
        "label": "Services title"
      },
      {
        "type": "text",
        "id": "services_text",
        "label": "Services text"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link text"
      },
	  {
        "type": "url",
        "id": "btn_url",
        "label": "URL"
      }
  ]
  } 
{% endschema %}