<section class="purpose">
  <div class="container">
    <h2 class="section-title section-title--desc">{{ section.settings.purpose_title }}</h2>
    <div class="purpose__wrapper">
      <div class="purpose__content">
        <h2 class="section-title section-title--mob">{{ section.settings.purpose_title }}</h2>
        <p class="basic-text purpose__text">{{ section.settings.purpose_text }}</p>
        <div class="button-wrapper">
          <a href="{{ section.settings.btn_url }}" class="button button--purpose btn star-btn">{{ section.settings.link_text }}</a>
          <div class="star-wrapper">
            <div class="star-w star-1">
              {% include "star-img" %}
            </div>
            <div class="star-w star-2 star-2--bigbtn">
              {% include "star-img" %}
            </div>
            <div class="star-w star-3">
              {% include "star-img" %}
            </div>
          </div>
        </div>
      </div>
      <div class="purpose__image-wrapper">
        <img src="{{ section.settings.purpose_image | img_url: 'master' }}" alt="" class="purpose__image" >
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "purpose",
  
  "settings": [
      {
        "type": "text",
        "id": "purpose_title",
        "label": "Purpose title"
      },
      {
        "type": "text",
        "id": "purpose_text",
        "label": "Purpose text"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link text"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "URL"
      },
      {
        "type": "image_picker",
        "id": "purpose_image",
        "label": "Purpose image"
      }
  ]
  } 
{% endschema %}