{{ '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' | script_tag }}
{{ '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' | stylesheet_tag }}
{{ '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css' | stylesheet_tag }}
<div class="page-width">
  <svg style="display: none;">
    <symbol id="star-svg" viewBox="0 0 29 33">
      <g>
        <path
          d="M14.412 0L15.5141 10.102C15.7684 12.7117 17.7183 14.8163 20.2616 15.3214L28.1458 16.8367L20.855 17.5102C17.9726 17.7628 15.7684 20.0357 15.4293 22.8138L14.412 33L13.3947 22.898C13.1404 20.0357 10.8514 17.8469 7.969 17.5944L0 16.8367L8.22332 15.4056C10.7666 14.9847 12.8013 12.8801 13.0556 10.2704L14.412 0Z"
          fill="#F13F00" />
      </g>
    </symbol>
  </svg>
  
<div class="containersec2">
    <div class="row">
        <div class="content col-sm-6">
             	<div class="row">
                  <div class="heading col-sm-12"><h1 class="heading-sec2">{{ section.settings.heading }}</h1></div>
                  <div class="subtitle col-sm-12"><p class="subtext-sec2">{{ section.settings.sub-text2 }}</p></div>

            <div class="button col-sm-12">
              <div class="btn media-text__btn">
              <a href="{{ section.settings.btn-sec2 }}" class="btn__link">{{ section.settings.btn-linktext }}</a>
              <svg class="ve-btn-hover__star1">
                <use height="33px" width="28px" xlink:href="#star-svg"></use>
              </svg>
              <svg class="ve-btn-hover__star2">
                <use height="14px" width="11px" xlink:href="#star-svg"></use>
              </svg>
              <svg class="ve-btn-hover__star3">
                <use height="20px" width="17px" xlink:href="#star-svg"></use>
              </svg>
              </div>
            </div>
        		</div>
      </div>
        <div class="image col-sm-6"><img data-src="{{ section.settings.image | img_url: "master" }}" class="lazyload second-section-img" ></div>
    </div>
</div>
</div>

{% schema %}
{
    "name": "Services: 2 section",

    "settings": [
                  {
					"type": "image_picker",
					"id": "image",
					"label": "Picture"
                  },
{
					"type": "text",
					"id": "heading",
					"label": "Heading text"
                  },
{
					"type": "text",
					"id": "sub-text2",
					"label": "Subtitle"
                  },
{
                    "id": "btn-sec2",
                    "type": "url",
                    "label": "Button link"
                  },
{
                    "id": "btn-linktext",
                    "type": "text",
                    "label": "Button text",
                    "default": "Click Here"
                  }

				],

 	"presets": [
    {
      "name": "VE-Services-2",
      "category": "Video editors"
      }
]
}
{% endschema %}

{% stylesheet %}

.containersec2 .btn {
  font-family: 'Raleway', sans-serif;
  position: relative;
  height: 55px;
  width: 300px;
  padding: 13px 0;

  background-color: #F13F00;

  border: 2px solid transparent;
  border-radius: 33px;

  transition: background-color 0.3s ease;
}

.containersec2 .btn__link {
  color: #fff;
  font-size: 19px;
  font-style: normal;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: center;

}

.containersec2 .btn__link:hover {
  color: #fff;
}

/* Hover button */

.containersec2 .ve-btn-hover__star1 {
  height: 30px;
  position: absolute;
  top: -36%;
  left: 100%;

  transition: visibility 2s, opacity 1s linear;
}

.containersec2 .ve-btn-hover__star2 {
  height: 30px;
  position: absolute;
  top: 16%;
  left: 106%;
  transition: visibility .6s, opacity 1.5s linear;
}

.containersec2 .ve-btn-hover__star3 {
  height: 30px;
  position: absolute;
  left: -4%;
  top: 85%;
  transition: visibility 1.2s, opacity 1s linear;
}

.containersec2 .btn__link:hover {
  color: #fff;
}

.containersec2 .btn:hover {
  background-color: #fb4200;
}


.containersec2 .btn svg {
  visibility: hidden;
  opacity: 0;
}

.containersec2 .btn:hover svg {
  visibility: visible;
  opacity: 1;
}

.ve-btn-hover__star1 {
  height: 30px;
  position: absolute;
  top: -36%;
  left: 100%;

  transition: visibility 2s, opacity 1s linear;
}

.ve-btn-hover__star2 {
  height: 30px;
  position: absolute;
  top: 16%;
  left: 106%;

  transition: visibility .6s, opacity 1.5s linear;
}

.ve-btn-hover__star3 {
  height: 30px;
  position: absolute;
  left: -8%;
  top: 80%;

  transition: visibility 1.2s, opacity 1s linear;
}

 


  .containersec2 {
  margin-top: 144px;
  }

 @media screen and (max-width: 600px) {
  .containersec2 {
    margin-top: 73px;
  }
}

.heading-sec2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 133.4%;
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .heading-sec2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 133.4%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  }
}

.subtext-sec2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160.4%;
  letter-spacing: 0.035em;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .subtext-sec2 {
  margin-top-36px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160.4%;
  letter-spacing: 0.035em;
  color: #000000;
  }
}

.button {
  margin-top: 15%;
  margin-bottom: 16%;
}

@media screen and (max-width: 600px) {
  .button {
    margin-bottom: 10%;
    text-align: center;
  }
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
