<section class="hero section">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__content">
        <h1 class="main-title">{{ section.settings.hero_title }}</h1>
        <p class="basic-text">{{ section.settings.hero_text }}</p>
        <a href="{{ section.settings.btn_url }}"
          class="button btn star-btn button--desk">{{ section.settings.link_text }}</a>
      </div>
      <div class="hero__video-holder">
        <img src="{{ section.settings.hero_image | img_url: 'master' }}" alt="">
      </div>
    </div>
</section>

{% schema %}
{
  "name": "Video editing hero",
  
  "settings": [
      {
        "type": "text",
        "id": "hero_title",
        "label": "Hero title"
      },
      {
        "type": "text",
        "id": "hero_text",
        "label": "Hero text"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link text"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "URL"
      },
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Hero image"
      }
  ]
  } 
{% endschema %}