<div id="video_text" class="video_with_text shopify-section_inner">
  <style>
  	.index-section.video_text{
    	background-color: #f9f9f9;
    }
  </style>
     
  <div class="section-content flex">
    <div class="custom__item text">
        {%- if section.settings.text_title != blank -%}
    		<h2 class="title_text">{{ section.settings.text_title }}</h2>
  		{%- endif -%}
      	{%- if section.settings.description != blank -%}
    		<p class="description">{{ section.settings.description }}</p>
  		{%- endif -%}
      {%- if section.settings.button_link != blank -%}
      <div class="button-wrapper">
        <a class="star-btn btn" href="{{section.settings.button_link}}" aria-label="{{section.settings.button_link}}">
        {{section.settings.button_label}}
        </a>
        <div class="star-wrapper">
          <div class="star-w star-1">
			{% include "star-img" %}
          </div>
          <div class="star-w star-2">
          	{% include "star-img" %}
          </div>
          <div class="star-w star-3">
            {% include "star-img" %}
          </div>
      	</div>
        </div>
      {%- endif -%}
      </div>

    <div class="custom__item video_item video-wrapper">
      <div id="video_holder">
        <div id="overlay"></div>
        <video poster="{{ section.settings.video_image_bg | img_url: "master" }}" style="width: 100%; height: auto;" tabindex="0" width="892" height="504" id="video">
        <source src="{{section.settings.video_link}}" width="400" height="200" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />          
        </video>
    </div>
    </div>
</div>
</div>

<script>
  const overlay = document.getElementById('overlay');
  const vid = document.getElementById('video');
  const videoRegion = document.querySelector("#video_holder");

  videoRegion.addEventListener("mouseover", function() {
    overlay.classList.add("trasform-rotate");
    overlay.classList.remove("trasform-unrotate");
  })
  videoRegion.addEventListener("mouseout", function() {
    overlay.classList.remove("trasform-rotate");
    overlay.classList.add("trasform-unrotate");
  })

if(overlay.addEventListener){
		overlay.addEventListener("click", play, false)
	}else if(overlay.attachEvent){
		overlay.attachEvent("onclick", play)
	}

function play() { 
    if (vid.paused){
        vid.play(); 
        overlay.className = "playing";
    }else {
        vid.pause(); 
        overlay.className = "";
    }
} 
</script>

{% schema %}
  {
    "name": "Video with text",
	"class": "index-section video_text",
    "settings": [
	{
		"id": "text_title",
		"type": "text",
		"label": "Text title",
		"default": "Title for description"
	},
	{
		"id": "description",
		"type": "text",
		"label": "Description",
		"default": "Description text"
	},
{
      "type": "text",
      "id": "button_label",
      "label": "Button label"  
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link" 
    },
    {
      "id": "video_link",
      "type": "url",
      "label": ".mp4 video link"
    },
  	{
        "type": "image_picker",
        "id": "video_image_bg",
        "label": "Background video Image"
   	}
	],
	"presets": [
      {
        "category": "Custom Content",
        "name": "Video with text"
      }
    ]
  }
{% endschema %}

