<section id="va-fourth">
  <div class="va-fourth-sec-wrapper page-width ds-flex">
    <div class="va-4th-content">
      <h2 class="va-4th-content-text">{{ section.settings.va-4th-heading }}</h2>
      <text>{{ section.settings.va-4th-subheading }}</text>
      <div class="button"><div class="btn media-text__btn">
        <a href="{{ section.settings.va-4th-btn-link }}" class="btn__link">{{ section.settings.va-4th-btn-linktext }}</a> 
        <svg class="ve-btn-hover__star1">
          <use height="33px" width="28px" xlink:href="#star-svg"></use>
        </svg>
        <svg class="ve-btn-hover__star2">
          <use height="14px" width="11px" xlink:href="#star-svg"></use>
        </svg>
        <svg class="ve-btn-hover__star3">
          <use height="20px" width="17px" xlink:href="#star-svg"></use>
        </svg>
        </div>
      </div>
    </div>
    <div class="img-wrap">
      <img src="{{ section.settings.va-sec4-pic | img_url: "master" }}" alt="pic">
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "VA 4th section",
    "settings": [
    {
      "type": "image_picker",
      "id": "va-sec4-pic",
      "label": "Picture"
      },
      {
        "type": "text",
        "id": "va-4th-heading",
        "label": "Heading"
        },
        {
        "type": "text",
        "id": "va-4th-subheading",
        "label": "Subheading"
        },
        {
          "id": "va-4th-btn-link",
          "type": "url",
          "label": "Button link"
          },
          {
          "id": "va-4th-btn-linktext",
          "type": "text",
          "label": "Button text",
          "default": "Click Here"
          }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
