<section class="web-smm-section custom-channels">
    <div class="text">
        <h2>
            {{ section.settings.types_title }}
        </h2>
    </div>
        <div class="custom-item channels">
          {% for block in section.blocks %}
                <div class="channel-item">
                    {% if block.settings.card_image != blank %}
                        <picture><source srcset="{{ block.settings.card_image | img_url: 'master' }}"><img src="{{ block.settings.card_image | img_url: 'master' }}" alt="vlog"></picture>
                    {% endif %}
                    
                    {% if block.settings.card_text_h3 != blank %}
                        <h3>{{ block.settings.card_text_h3 }}</h3>
                    {% endif %}

                    {% if block.settings.card_text_h4 != blank %}
                        <h4>{{ block.settings.card_text_h4 }}</h4>
                    {% endif %}
                </div>
                {% endfor %}
        </div>
</section>

{% schema %}
{
"name": "types",

"settings": [
    {
      "type": "text",
      "id": "types_title",
      "label": "Types title"
    }
],
"blocks": [
    {
      "type": "image",
      "name": "images",
      "settings": [
        {
          "type": "image_picker",
          "id": "card_image",
          "label": "Card image"
        },
        {
          "type": "text",
          "id": "card_text_h3",
          "label": "Card text H3",
          "default":"Item title"
        },
        {
          "type": "text",
          "id": "card_text_h4",
          "label": "Card text H4",
          "default":"Item title"
        }
      ]
    }
],
"presets": [
    {
      "name": "types",
      "category": "card"
    }
]
} 
{% endschema %}