<div class="page-width">
  <div class="empty-page-content text-center">
   {%comment%} 
    <h1>{{ 'general.404.title' | t }}</h1>
    <p>{{ 'general.404.subtext' | t }}</p>
    <p>
      <a href="{{ routes.root_url }}" class="btn btn--has-icon-after">{{ 'general.404.link' | t }}{% include 'icon-arrow-right' %}</a>
    </p>
    {%endcomment%}
    <div class ="custom_img">
    	{% include '404-img' %}
    </div>
     <h3 class="error-description description">The page you requested could not be found</h3>
     <p style="margin-bottom: 50px;">
      <a href="{{ routes.root_url }}" class="btn btn--has-icon-after">back to home</a>
    </p>
  </div>
</div>

